*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    color: black;
    background-color: black;
    height: 40px;
    width: 100%;
}
.box{
    color: blueviolet;
    background-color: blueviolet;
   
    border: 1px solid black;
    width: 330px;
    height: 200px;
    border-radius: 20px;

}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px
}
h2{
    margin-top: 70px;
    background-color:pink;
    height: 40px;
margin-left: 40px;
margin-right: 40px;
border-radius: 10px;
}